<?xml version="1.0" encoding="utf-8"?>
<phpunit
    colors="true"
    bootstrap="./tests/bootstrap.php"
>
  <php>
    <env name="PROFILER" value="1"/>
    <env name="PROFILER_DETAILS" value="1"/>
  </php>

  <testsuites>
    <testsuite name="Indaxia OTR Transformable">
    
      <file>tests/Transformable/ToSimpleTest.php</file>
      <file>tests/Transformable/ToPolicyScalarTest.php</file>
      <file>tests/Transformable/ToPolicyRelationsTest.php</file>
      
      <file>tests/Transformable/FromSimpleTest.php</file>
      
    </testsuite>
  </testsuites>
  
</phpunit>